<form #form="ngForm" (ngSubmit)="onProjectsFormSubmit(form)">

  <mat-form-field>
    <input matInput placeholder="Title" name="title" ngModel required>
  </mat-form-field>

  <div>
    <mat-form-field class="date">
      <input matInput [matDatepicker]="start" placeholder="Start" name="start" ngModel required>
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="date">
      <input matInput [matDatepicker]="end" placeholder="End" name="end" ngModel required>
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-form-field>
    <textarea matInput placeholder="Description" name="description" ngModel required></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Link" name="link" ngModel required>
  </mat-form-field>

  <button mat-stroked-button type="submit" [disabled]="!form.valid">Add project</button>

</form>